In [1]:
import pandas as pd

## Dataset 01

In [2]:
df = pd.read_csv("datasets/dataset-01/original-dataset.csv", encoding="utf-8")

In [3]:
df.shape

(574, 18)

In [4]:
df.rename(columns={'surf_area': 'specific_surf_area'}, inplace=True)

In [5]:
df.head()

,material,core_size,hydro_size,surf_charge,specific_surf_area,Hsf,Ec,Ev,MeO,assay,cell_line,cell_species,cell_origin,cell_type,time,dose,viability,toxicity
0,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.001,92.5258,nonToxic
1,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.010,96.1340,nonToxic
2,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.100,93.5567,nonToxic
3,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,1.000,97.6804,nonToxic
4,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,5.000,94.8454,nonToxic

In [6]:
df.insert(loc=0, column='rownum', value=df.index+1)

In [7]:
df.head()

,rownum,material,core_size,hydro_size,surf_charge,specific_surf_area,Hsf,Ec,Ev,MeO,assay,cell_line,cell_species,cell_origin,cell_type,time,dose,viability,toxicity
0,1,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.001,92.5258,nonToxic
1,2,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.010,96.1340,nonToxic
2,3,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.100,93.5567,nonToxic
3,4,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,1.000,97.6804,nonToxic
4,5,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,5.000,94.8454,nonToxic

In [8]:
df.insert(loc=1, column='bioassay_id', value=df.set_index(['assay','cell_line', 'cell_species', 'cell_origin', 'cell_type']).index.factorize()[0]+1)

In [9]:
df.head()

,rownum,bioassay_id,material,core_size,hydro_size,surf_charge,specific_surf_area,Hsf,Ec,Ev,MeO,assay,cell_line,cell_species,cell_origin,cell_type,time,dose,viability,toxicity
0,1,1,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.001,92.5258,nonToxic
1,2,1,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.010,96.1340,nonToxic
2,3,1,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.100,93.5567,nonToxic
3,4,1,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,1.000,97.6804,nonToxic
4,5,1,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,-9.81,5.67,MTT,HCMEC,Human,Blood,Normal,24,5.000,94.8454,nonToxic

In [10]:
df.bioassay_id.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18])

In [11]:
df.insert(loc=2, column='material_id', value=df.set_index(['material','core_size', 'hydro_size', 'surf_charge', 'specific_surf_area']).index.factorize()[0]+1)

In [12]:
df.head()

,rownum,bioassay_id,material_id,material,core_size,hydro_size,surf_charge,specific_surf_area,Hsf,Ec,...,MeO,assay,cell_line,cell_species,cell_origin,cell_type,time,dose,viability,toxicity
0,1,1,1,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,...,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.001,92.5258,nonToxic
1,2,1,1,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,...,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.010,96.1340,nonToxic
2,3,1,1,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,...,5.67,MTT,HCMEC,Human,Blood,Normal,24,0.100,93.5567,nonToxic
3,4,1,1,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,...,5.67,MTT,HCMEC,Human,Blood,Normal,24,1.000,97.6804,nonToxic
4,5,1,1,Al2O3,39.7,267.0,36.3,64.7,-17.345,-1.51,...,5.67,MTT,HCMEC,Human,Blood,Normal,24,5.000,94.8454,nonToxic

In [13]:
df.material_id.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41])

In [14]:
len(set(df.set_index(['cell_line','cell_species', 'cell_origin', 'cell_type']).index.factorize()[0]+1))

14

In [15]:
len(df.cell_line.unique())

14

In [16]:
df.to_csv("datasets/dataset-01/data.csv", index=False, encoding="utf-8")

## Dataset 02

In [17]:
df = pd.read_csv("datasets/dataset-02/original-dataset.csv", encoding="utf-8")

In [18]:
df.shape

(494, 83)

In [19]:
df.head()

,Material_type,Core_size,Method_core_size,Hydro_size,Method_hydro_size,Surface_charge,Method_surface_charge,Surface_area,Method_surface_area,Hsf,...,force_vector_surface_tangent_component_avg_all,force_vector_surface_tangent_component_avg_core,force_vector_surface_tangent_component_avg_shell,Al_force_vector_surface_tangent_component_coordN_avg_all,Al_force_vector_surface_tangent_component_coordN_avg_core,Al_force_vector_surface_tangent_component_coordN_avg_shell,O_force_vector_surface_tangent_component_avg_all,O_force_vector_surface_tangent_component_avg_core,O_force_vector_surface_tangent_component_avg_shell,Viability
0,CuO,12.8,TEM,313.8,DLS,7.6,Zeta-potential,74.2,Estimation,-1.609,...,0.533035,0.253566,1.545512,0.309687,0.000264,1.427561,0.756383,0.000142,-0.402316,9.1
1,ZnO,22.6,TEM,114.7,DLS,28.8,Zeta-potential,47.4,Estimation,-3.608,...,0.152420,0.065526,0.749955,0.153232,0.065529,0.756355,0.151608,0.000103,0.821268,9.5
2,ZnO,22.6,TEM,114.7,DLS,28.8,Zeta-potential,47.4,Estimation,-3.608,...,0.152420,0.065526,0.749955,0.153232,0.065529,0.756355,0.151608,0.000103,0.821268,10.2
3,ZnO,22.6,TEM,69.4,DLS,28.8,Zeta-potential,47.4,Estimation,-3.608,...,0.152420,0.065526,0.749955,0.153232,0.065529,0.756355,0.151608,0.000103,0.821268,11.0
4,Mn2O3,51.5,TEM,291.7,DLS,-46.1,Zeta-potential,25.9,Estimation,-9.917,...,0.950733,0.872875,2.238068,0.460898,0.362431,2.085717,1.277290,-0.000090,0.335578,11.3

In [20]:
df.insert(loc=0, column='rownum', value=df.index+1)

In [21]:
df.head()

,rownum,Material_type,Core_size,Method_core_size,Hydro_size,Method_hydro_size,Surface_charge,Method_surface_charge,Surface_area,Method_surface_area,...,force_vector_surface_tangent_component_avg_all,force_vector_surface_tangent_component_avg_core,force_vector_surface_tangent_component_avg_shell,Al_force_vector_surface_tangent_component_coordN_avg_all,Al_force_vector_surface_tangent_component_coordN_avg_core,Al_force_vector_surface_tangent_component_coordN_avg_shell,O_force_vector_surface_tangent_component_avg_all,O_force_vector_surface_tangent_component_avg_core,O_force_vector_surface_tangent_component_avg_shell,Viability
0,1,CuO,12.8,TEM,313.8,DLS,7.6,Zeta-potential,74.2,Estimation,...,0.533035,0.253566,1.545512,0.309687,0.000264,1.427561,0.756383,0.000142,-0.402316,9.1
1,2,ZnO,22.6,TEM,114.7,DLS,28.8,Zeta-potential,47.4,Estimation,...,0.152420,0.065526,0.749955,0.153232,0.065529,0.756355,0.151608,0.000103,0.821268,9.5
2,3,ZnO,22.6,TEM,114.7,DLS,28.8,Zeta-potential,47.4,Estimation,...,0.152420,0.065526,0.749955,0.153232,0.065529,0.756355,0.151608,0.000103,0.821268,10.2
3,4,ZnO,22.6,TEM,69.4,DLS,28.8,Zeta-potential,47.4,Estimation,...,0.152420,0.065526,0.749955,0.153232,0.065529,0.756355,0.151608,0.000103,0.821268,11.0
4,5,Mn2O3,51.5,TEM,291.7,DLS,-46.1,Zeta-potential,25.9,Estimation,...,0.950733,0.872875,2.238068,0.460898,0.362431,2.085717,1.277290,-0.000090,0.335578,11.3

In [22]:
df.insert(loc=1, column='bioassay_id', value=df.set_index(['Assay','Cell_name', 'Cell_species', 'Cell_origin', 'Cell_type']).index.factorize()[0]+1)

In [23]:
df.head()

,rownum,bioassay_id,Material_type,Core_size,Method_core_size,Hydro_size,Method_hydro_size,Surface_charge,Method_surface_charge,Surface_area,...,force_vector_surface_tangent_component_avg_all,force_vector_surface_tangent_component_avg_core,force_vector_surface_tangent_component_avg_shell,Al_force_vector_surface_tangent_component_coordN_avg_all,Al_force_vector_surface_tangent_component_coordN_avg_core,Al_force_vector_surface_tangent_component_coordN_avg_shell,O_force_vector_surface_tangent_component_avg_all,O_force_vector_surface_tangent_component_avg_core,O_force_vector_surface_tangent_component_avg_shell,Viability
0,1,1,CuO,12.8,TEM,313.8,DLS,7.6,Zeta-potential,74.2,...,0.533035,0.253566,1.545512,0.309687,0.000264,1.427561,0.756383,0.000142,-0.402316,9.1
1,2,2,ZnO,22.6,TEM,114.7,DLS,28.8,Zeta-potential,47.4,...,0.152420,0.065526,0.749955,0.153232,0.065529,0.756355,0.151608,0.000103,0.821268,9.5
2,3,2,ZnO,22.6,TEM,114.7,DLS,28.8,Zeta-potential,47.4,...,0.152420,0.065526,0.749955,0.153232,0.065529,0.756355,0.151608,0.000103,0.821268,10.2
3,4,1,ZnO,22.6,TEM,69.4,DLS,28.8,Zeta-potential,47.4,...,0.152420,0.065526,0.749955,0.153232,0.065529,0.756355,0.151608,0.000103,0.821268,11.0
4,5,1,Mn2O3,51.5,TEM,291.7,DLS,-46.1,Zeta-potential,25.9,...,0.950733,0.872875,2.238068,0.460898,0.362431,2.085717,1.277290,-0.000090,0.335578,11.3

In [24]:
df.bioassay_id.unique()

array([1, 2, 3, 4])

In [25]:
df.insert(loc=2, column='material_id', value=df.set_index(['Material_type','Core_size', 'Hydro_size', 'Surface_charge', 'Surface_area']).index.factorize()[0]+1)

In [26]:
df.head()

,rownum,bioassay_id,material_id,Material_type,Core_size,Method_core_size,Hydro_size,Method_hydro_size,Surface_charge,Method_surface_charge,...,force_vector_surface_tangent_component_avg_all,force_vector_surface_tangent_component_avg_core,force_vector_surface_tangent_component_avg_shell,Al_force_vector_surface_tangent_component_coordN_avg_all,Al_force_vector_surface_tangent_component_coordN_avg_core,Al_force_vector_surface_tangent_component_coordN_avg_shell,O_force_vector_surface_tangent_component_avg_all,O_force_vector_surface_tangent_component_avg_core,O_force_vector_surface_tangent_component_avg_shell,Viability
0,1,1,1,CuO,12.8,TEM,313.8,DLS,7.6,Zeta-potential,...,0.533035,0.253566,1.545512,0.309687,0.000264,1.427561,0.756383,0.000142,-0.402316,9.1
1,2,2,2,ZnO,22.6,TEM,114.7,DLS,28.8,Zeta-potential,...,0.152420,0.065526,0.749955,0.153232,0.065529,0.756355,0.151608,0.000103,0.821268,9.5
2,3,2,2,ZnO,22.6,TEM,114.7,DLS,28.8,Zeta-potential,...,0.152420,0.065526,0.749955,0.153232,0.065529,0.756355,0.151608,0.000103,0.821268,10.2
3,4,1,3,ZnO,22.6,TEM,69.4,DLS,28.8,Zeta-potential,...,0.152420,0.065526,0.749955,0.153232,0.065529,0.756355,0.151608,0.000103,0.821268,11.0
4,5,1,4,Mn2O3,51.5,TEM,291.7,DLS,-46.1,Zeta-potential,...,0.950733,0.872875,2.238068,0.460898,0.362431,2.085717,1.277290,-0.000090,0.335578,11.3

In [27]:
df.material_id.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28])

In [28]:
len(set(df.set_index(['Cell_name', 'Cell_species', 'Cell_origin', 'Cell_type']).index.factorize()[0]+1))

2

In [29]:
len(df.Cell_name.unique())

2

In [30]:
df['Exposure_time'] = df['Exposure_time'].map({'24h': 24})

In [31]:
df.to_csv("datasets/dataset-02/data.csv", index=False, encoding="utf-8")

## Dataset 04

In [32]:
df = pd.read_csv("datasets/dataset-04/original-dataset.csv", encoding='utf-8')

In [33]:
df.shape

(69, 22)

In [34]:
df.head()

,metal_core,coating,type_of_coating,aging,diameter,shape_group,geometric_surface_area,corresponding_sphere_diameter,atomic_radius,ionic_radius,...,number_of_metal,number_of_oxygen,sum_of_x,sum_of_x_over_o,molecular_weight,group,period,absolute_electronegativity,energy_band_gap,zeta_potential
0,Ag,4% (w/v) each of polyoxyethylene glycerol trio...,neutral,Pristine,19.0,Spherical,1134.114948,19.000000,144,115,...,1,0,1.93,1.93,107.8682,11,5,4.44,1.46,-1.210
1,Ag2S,sulfate & PVP capped,neutral,Pristine,36.0,Agglomerated,4069.440000,36.000000,144,115,...,2,0,3.86,3.86,247.8000,11,5,5.36,1.20,-50.500
2,Ag,Tannic acid / sodium citrate,anionic,Pristine,47.3,spherical,7025.090600,47.300000,144,115,...,1,0,1.93,1.93,107.8682,11,5,5.36,1.46,-57.900
3,CeO2,HMTA,neutral,Pristine,30.8,Faceted,5691.840000,42.564879,182,102,...,1,2,1.12,0.56,172.1150,3,6,5.65,3.20,5.700
4,CeO2,PEG 1500,neutral,Pristine,4.5,Spherical,63.617251,4.500000,182,102,...,1,2,1.12,0.56,172.1150,3,6,5.65,3.20,0.024

In [35]:
df.insert(loc=0, column='rownum', value=df.index+1)

In [36]:
df.head()

,rownum,metal_core,coating,type_of_coating,aging,diameter,shape_group,geometric_surface_area,corresponding_sphere_diameter,atomic_radius,...,number_of_metal,number_of_oxygen,sum_of_x,sum_of_x_over_o,molecular_weight,group,period,absolute_electronegativity,energy_band_gap,zeta_potential
0,1,Ag,4% (w/v) each of polyoxyethylene glycerol trio...,neutral,Pristine,19.0,Spherical,1134.114948,19.000000,144,...,1,0,1.93,1.93,107.8682,11,5,4.44,1.46,-1.210
1,2,Ag2S,sulfate & PVP capped,neutral,Pristine,36.0,Agglomerated,4069.440000,36.000000,144,...,2,0,3.86,3.86,247.8000,11,5,5.36,1.20,-50.500
2,3,Ag,Tannic acid / sodium citrate,anionic,Pristine,47.3,spherical,7025.090600,47.300000,144,...,1,0,1.93,1.93,107.8682,11,5,5.36,1.46,-57.900
3,4,CeO2,HMTA,neutral,Pristine,30.8,Faceted,5691.840000,42.564879,182,...,1,2,1.12,0.56,172.1150,3,6,5.65,3.20,5.700
4,5,CeO2,PEG 1500,neutral,Pristine,4.5,Spherical,63.617251,4.500000,182,...,1,2,1.12,0.56,172.1150,3,6,5.65,3.20,0.024

In [37]:
df.insert(loc=1, column='material_id', value=df.set_index(df.columns.tolist()).index.factorize()[0]+1)

In [38]:
df.head()

,rownum,material_id,metal_core,coating,type_of_coating,aging,diameter,shape_group,geometric_surface_area,corresponding_sphere_diameter,...,number_of_metal,number_of_oxygen,sum_of_x,sum_of_x_over_o,molecular_weight,group,period,absolute_electronegativity,energy_band_gap,zeta_potential
0,1,1,Ag,4% (w/v) each of polyoxyethylene glycerol trio...,neutral,Pristine,19.0,Spherical,1134.114948,19.000000,...,1,0,1.93,1.93,107.8682,11,5,4.44,1.46,-1.210
1,2,2,Ag2S,sulfate & PVP capped,neutral,Pristine,36.0,Agglomerated,4069.440000,36.000000,...,2,0,3.86,3.86,247.8000,11,5,5.36,1.20,-50.500
2,3,3,Ag,Tannic acid / sodium citrate,anionic,Pristine,47.3,spherical,7025.090600,47.300000,...,1,0,1.93,1.93,107.8682,11,5,5.36,1.46,-57.900
3,4,4,CeO2,HMTA,neutral,Pristine,30.8,Faceted,5691.840000,42.564879,...,1,2,1.12,0.56,172.1150,3,6,5.65,3.20,5.700
4,5,5,CeO2,PEG 1500,neutral,Pristine,4.5,Spherical,63.617251,4.500000,...,1,2,1.12,0.56,172.1150,3,6,5.65,3.20,0.024

In [39]:
df.material_id.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69])

In [40]:
df.to_csv("datasets/dataset-04/data.csv", index=False, encoding="utf-8")

## Dataset 05

In [41]:
df = pd.read_csv("datasets/dataset-05/original-dataset.csv", encoding='utf-8')

In [42]:
df.shape

(2896, 25)

In [43]:
df.head()

,nanoparticle,type_organic_inorganic,coat,diameter,dose,zeta_potential,cell_type,cell_line_or_primary,human_or_animal,animal_species,...,test_indicator,biochemical_metric,cell_viability,inference_checked_y_n,colloidal_stability_checked_y_n,positive_control_y_n,publication_year,particle_id,reference_doi,row_num
0,CeO2,I,NaN,20.3,0.002478,NaN,L929,L,A,Mouse,...,tetrazolium salt,cell metabolic activity,105.58918,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095,1
1,CeO2,I,NaN,20.3,0.004956,NaN,L929,L,A,Mouse,...,tetrazolium salt,cell metabolic activity,103.02621,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095,2
2,CeO2,I,NaN,20.3,0.009911,NaN,L929,L,A,Mouse,...,tetrazolium salt,cell metabolic activity,104.85748,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095,3
3,CeO2,I,NaN,20.3,0.019823,NaN,L929,L,A,Mouse,...,tetrazolium salt,cell metabolic activity,100.09670,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095,4
4,CeO2,I,NaN,20.3,0.039645,NaN,L929,L,A,Mouse,...,tetrazolium salt,cell metabolic activity,97.53237,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095,5

In [44]:
df.drop('row_num', axis=1, inplace=True)

In [45]:
df.insert(loc=0, column='rownum', value=df.index+1)

In [46]:
df.head()

,rownum,nanoparticle,type_organic_inorganic,coat,diameter,dose,zeta_potential,cell_type,cell_line_or_primary,human_or_animal,...,test_assay,test_indicator,biochemical_metric,cell_viability,inference_checked_y_n,colloidal_stability_checked_y_n,positive_control_y_n,publication_year,particle_id,reference_doi
0,1,CeO2,I,NaN,20.3,0.002478,NaN,L929,L,A,...,MTT,tetrazolium salt,cell metabolic activity,105.58918,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
1,2,CeO2,I,NaN,20.3,0.004956,NaN,L929,L,A,...,MTT,tetrazolium salt,cell metabolic activity,103.02621,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
2,3,CeO2,I,NaN,20.3,0.009911,NaN,L929,L,A,...,MTT,tetrazolium salt,cell metabolic activity,104.85748,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
3,4,CeO2,I,NaN,20.3,0.019823,NaN,L929,L,A,...,MTT,tetrazolium salt,cell metabolic activity,100.09670,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
4,5,CeO2,I,NaN,20.3,0.039645,NaN,L929,L,A,...,MTT,tetrazolium salt,cell metabolic activity,97.53237,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095

In [47]:
df.animal_species.unique()

array(['Mouse', nan, 'Rat', 'Pig', 'Monkey (Cercopithecus aethiops)',
       'Canine', 'hamster', 'rat', 'Cow, Bos taurus'], dtype=object)

In [48]:
df.loc[(df.human_or_animal == "H") & (df.animal_species.isna()), 'animal_species'] = "Human"
df.loc[(df.human_or_animal == "A") & (df.animal_species.isna()), 'animal_species'] = "unknown"

In [49]:
df.animal_species.unique()

array(['Mouse', 'Human', 'Rat', 'Pig', 'Monkey (Cercopithecus aethiops)',
       'Canine', 'hamster', 'unknown', 'rat', 'Cow, Bos taurus'],
      dtype=object)

In [50]:
df.insert(loc=1, column='bioassay_id', value=df.set_index(['reference_doi','test_assay','cell_type', 'animal_species', 'cell_organ_or_tissue', 'cell_line_or_primary']).index.factorize()[0]+1)

In [51]:
df.head()

,rownum,bioassay_id,nanoparticle,type_organic_inorganic,coat,diameter,dose,zeta_potential,cell_type,cell_line_or_primary,...,test_assay,test_indicator,biochemical_metric,cell_viability,inference_checked_y_n,colloidal_stability_checked_y_n,positive_control_y_n,publication_year,particle_id,reference_doi
0,1,1,CeO2,I,NaN,20.3,0.002478,NaN,L929,L,...,MTT,tetrazolium salt,cell metabolic activity,105.58918,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
1,2,1,CeO2,I,NaN,20.3,0.004956,NaN,L929,L,...,MTT,tetrazolium salt,cell metabolic activity,103.02621,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
2,3,1,CeO2,I,NaN,20.3,0.009911,NaN,L929,L,...,MTT,tetrazolium salt,cell metabolic activity,104.85748,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
3,4,1,CeO2,I,NaN,20.3,0.019823,NaN,L929,L,...,MTT,tetrazolium salt,cell metabolic activity,100.09670,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
4,5,1,CeO2,I,NaN,20.3,0.039645,NaN,L929,L,...,MTT,tetrazolium salt,cell metabolic activity,97.53237,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095

In [52]:
df.bioassay_id.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210])

In [53]:
df.insert(loc=2, column='material_id', value=df.set_index(['reference_doi','nanoparticle','diameter', 'zeta_potential', 'coat', 'type_organic_inorganic']).index.factorize()[0]+1)

In [54]:
df.head()

,rownum,bioassay_id,material_id,nanoparticle,type_organic_inorganic,coat,diameter,dose,zeta_potential,cell_type,...,test_assay,test_indicator,biochemical_metric,cell_viability,inference_checked_y_n,colloidal_stability_checked_y_n,positive_control_y_n,publication_year,particle_id,reference_doi
0,1,1,1,CeO2,I,NaN,20.3,0.002478,NaN,L929,...,MTT,tetrazolium salt,cell metabolic activity,105.58918,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
1,2,1,1,CeO2,I,NaN,20.3,0.004956,NaN,L929,...,MTT,tetrazolium salt,cell metabolic activity,103.02621,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
2,3,1,1,CeO2,I,NaN,20.3,0.009911,NaN,L929,...,MTT,tetrazolium salt,cell metabolic activity,104.85748,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
3,4,1,1,CeO2,I,NaN,20.3,0.019823,NaN,L929,...,MTT,tetrazolium salt,cell metabolic activity,100.09670,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
4,5,1,1,CeO2,I,NaN,20.3,0.039645,NaN,L929,...,MTT,tetrazolium salt,cell metabolic activity,97.53237,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095

In [55]:
df.material_id.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238])

In [56]:
df.insert(loc=3, column='cell_type_id', value=df.set_index(['reference_doi','cell_type', 'animal_species', 'human_or_animal', 'cell_morphology','cell_organ_or_tissue','cell_line_or_primary']).index.factorize()[0]+1)

In [57]:
df.head()

,rownum,bioassay_id,material_id,cell_type_id,nanoparticle,type_organic_inorganic,coat,diameter,dose,zeta_potential,...,test_assay,test_indicator,biochemical_metric,cell_viability,inference_checked_y_n,colloidal_stability_checked_y_n,positive_control_y_n,publication_year,particle_id,reference_doi
0,1,1,1,1,CeO2,I,NaN,20.3,0.002478,NaN,...,MTT,tetrazolium salt,cell metabolic activity,105.58918,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
1,2,1,1,1,CeO2,I,NaN,20.3,0.004956,NaN,...,MTT,tetrazolium salt,cell metabolic activity,103.02621,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
2,3,1,1,1,CeO2,I,NaN,20.3,0.009911,NaN,...,MTT,tetrazolium salt,cell metabolic activity,104.85748,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
3,4,1,1,1,CeO2,I,NaN,20.3,0.019823,NaN,...,MTT,tetrazolium salt,cell metabolic activity,100.09670,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095
4,5,1,1,1,CeO2,I,NaN,20.3,0.039645,NaN,...,MTT,tetrazolium salt,cell metabolic activity,97.53237,N,N,N,2015,1,10.1016/j.ceramint.2014.09.095

In [58]:
len(df.cell_type_id.unique())

142

In [59]:
len(set(df.set_index(['cell_type', 'animal_species', 'cell_organ_or_tissue', 'cell_line_or_primary']).index.factorize()[0]+1))

86

In [60]:
len(set(df.set_index(['cell_type', 'animal_species', 'human_or_animal', 'cell_morphology','cell_organ_or_tissue','cell_line_or_primary']).index.factorize()[0]+1))

89

In [61]:
len(df.cell_type.unique())

81

In [62]:
df.to_csv("datasets/dataset-05/data.csv", index=False, encoding="utf-8")